<form [FormGroup]="foodsFormGroup">
  <label for="food">
    <input type="radio" name="Grains" [checked]="idx === 0" [value]="entry.id" (change)="onSelectionChange(entry)">Whole
    Grain Bread
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>
  </label><br>
  <label for="food">
    <input type="radio" name="Grains" [checked]="idx === 0" [value]="entry.id" (change)="onSelectionChange(entry)">All
    Purpose Flour
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>


    <label for="food">
      <input type="radio" name="Granis" [checked]="idx === 0" [value]="entry.id"
        (change)="onSelectionChange(entry)">Sourdough
      <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
      <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
          value="{{qty}}"></td>
    </label><br>
    <label for="food">
      <input type="radio" name="Grains" [checked]="idx === 0" [value]="entry.id"
        (change)="onSelectionChange(entry)">French Bread
      <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
      <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
          value="{{qty}}"></td>



      <button (click)="save()">Done</button>
      <button (click)="back()">Back</button>

</form>
