<form [FormGroup]= "foodsFormGroup" 
>

<label for="food" >
    <input type="radio" name="cannedGoods"  
    [checked]="idx === 0" 
    [value]="entry.id" 
    (change)="onSelectionChange(entry)">Pizza Sauce
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="cannedGoods" 
    [checked]="idx === 0" 
    [value]="entry.id" 
    (change)="onSelectionChange(entry)">
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>


<button (click)="back()">Done</button>
</form>




<!-- possible grid format instead of breaks -->
<!-- To push to LS loop through array of items and pus what is selected with if/else statement? -->



