<!-- Grid display, when clicked id is submitted to Db. This ID can match the id of specific ingredients or recipes in the Db to align with user prefrence
Ex: GF:id= 3, GF recipe or GF items such as Avacado would be Avacado:id= 3 
The loop would match these id's in order to diplay a list of items or recipes that are GF.(Essentially Id's can differentiate between food types for preferences) -->
<!-- If grid is off add height and width option back to button tags and adjust accordingly -->
<h1 class="pref">Preferences</h1>

<p>Select your food preferences to find the right recipe for you.</p>
<div class="line">
    <div class="length">
      <button type="button" onclick=""><img src=""  /></button>
      </p>Gluten Free</p>
    </div>
    <div class="length">
      <button type="button" onclick=""><img src="" /></button>
      <p>Paleo</p>
    </div>
  </div>
  <div class="line">
    <div class="length">
      <button type="button" onclick=""><img src=""  /></button>
      </p>Non-Dairy</p>
    </div>
    <div class="length">
      <button type="button" onclick=""><img src="" /></button>
      <p>Vegan</p>
    </div>
  </div>
  