<!-- [FormGroup] = foodsFormGroup -->
<h2>List your Dairy items</h2>
<br />
<br />
<form class="FGCform">
  <tr>
    <input type="text" placeholder="1" />
  </tr>
  <br />
  <tr>
    <input type="text" placeholder="2" />
  </tr>
  <br />
  <tr>
    <input type="text" placeholder="3" />
  </tr>
  <br />
  <tr>
    <input type="text" placeholder="4" />
  </tr>
  <br />
  <br />
  <br />
  <button type="button" (click)="back()">Back</button>
  
  <button type="button" (click)="onSelect()">Add</button>
</form>
