<!DOCTYPE html>
<html>
  <head>
    <title>Meals</title>
  </head>
  <body>
    <div class="primary-text">Recipes</div>
    <br />
    <h2>What You Can Make!</h2>
    <div class="recipeCards">
      <br />
      <div class="card" style="width: 30rem">
        <img
          src="../../../assets/french_bread_pizza.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <br />
          <h1>French Bread Pizza</h1>

          <br />
          <p class="card-text">
            Pepperoni pizza boats are an easy way to enjoy pizza in minutes
            right at home with very little work!
            <br />
            <br />_________________________________
            <br />
            <br />

            Ingredients: <br /><br />
            -1 Loaf French Bread<br />
            -14 oz jar pizza sauce<br />
            -2 cups mozzarella cheese<br />
            -1/4 lb sliced pepperoni
            <br />
            <br />_________________________________
            <br />
            <br />
            Directions: <br /><br />
            -Slice the loaf of bread in half.<br />
            -Then spread entirely with pizza sauce. <br />
            -Then take some pepperonis and arrange evenly.<br />
            -Top with mozzarella cheese and then more pepperonis. <br />
            -Toss in the oven at 375 degrees for 10 minutes.
          </p>
        </div>
      </div>
      <br />
      <div class="card" style="width: 30rem">
        <img
          src="../../../assets/grilled-cheese.png"
          class="card-img-top"
          alt="..."
        /><br />
        <div class="card-body">
          <h1>Grilled Cheese</h1>
          <br />
          <p class="card-text">
            It's all about the crust. Choose a hearty bread, butter it up, and
            shred your favorite cheddar for the best grilled cheese ever:
            crispy-crunchy on the outside, melty, cheddar middle, and the
            world's most impressive cheese pull.
            <br />
            <br />_________________________________
            <br />
            <br />
            Ingredients:<br /><br />
            -5 tbsp. butter, softened, divided<br />
            -4 slices sourdough bread <br>
            -2 cups shredded cheddar

            <br />
            <br />_________________________________
            <br />
            <br />
            Directions: <br /><br />
            -Spread about 1 tablespoon butter on one side of each slice of
            bread. <br />

            -With butter side down, top each slice of bread with about 50g of
            cheddar. <br />

            -Heat a nonstick pan over medium heat with 1 tablespoon butter.<br />

            -When butter is melted add two slices of bread, butter side down.
            <br />

            -Cook until bread is golden and cheese is starting to melt, 2
            minutes. <br />

            -Flip one pice of bread on top of the other and continue to cook 30
            seconds. <br />

            -Repeat for the second sandwich, wiping the pan clean if necessary.
          </p>
        </div>
      </div>
      <br />
      <div class="card" style="width: 30rem">
        <img
          src="../../../assets/avacado_toast.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1>Avacado Toast</h1>
          <br />
          <p class="card-text">
            Avocado toast is pretty divisive: You either can’t get enough of it,
            or you’re totally sick of hearing about it.
            <br />
            <br />_________________________________
            <br />
            <br />
            Ingredients:<br /><br />
            - ½ small avocado <br />
            - ½ teaspoon fresh lemon juice <br />
            - ⅛ teaspoon Kosher salt <br />
            - ⅛ teaspoon freshly ground black pepper <br />
            - 1 slice whole grain bread, toasted <br />
            - ½ teaspoon extra-virgin olive oil
            <br />
            <br />
            Optional Toppings: Maldon sea salt flakes, red pepper flakes

            <br />
            <br />_________________________________
            <br />
            <br />
            Directions: <br /><br />

            -In a small bowl, combine avocado, lemon juice, salt, and pepper.
            Gently mash with the back of a fork.<br />

            -Top toasted bread with mashed avocado mixture. Drizzle with olive
            oil and sprinkle over desired toppings.<br />
          </p>
        </div>
      </div>
      <br />
      <div class="card" style="width: 30rem">
        <img
          src="../../../assets/banana-pancakes.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h1>Banana Pancakes</h1>
          <br />
          <p class="card-text">
            Crowd pleasing banana pancakes made from scratch. A fun twist on
            ordinary pancakes.
            <br />
            <br />_________________________________
            <br />
            <br />
            Ingredients:<br /><br />
            - 1 cup all-purpose flour<br />
            - 1 tablespoon white sugar<br />
            - 2 teaspoons baking powder<br />
            - ¼ teaspoon salt<br />
            - 1 egg, beaten<br />
            - 1 cup milk<br />
            - 2 tablespoons vegetable oil<br />
            - 2 ripe bananas, mashed<br />
            <br />
            Optional Toppings: Fresh fruit, powedered sugar

            <br />
            <br />_________________________________
            <br />
            <br />
            Directions: <br /><br />

            -Combine flour, white sugar, baking powder and salt. 
            In a separate bowl, mix together egg, milk, vegetable oil and bananas. <br>

            -Stir flour mixture into banana mixture; batter will be slightly lumpy.<br>

            -Heat a lightly oiled griddle or frying pan over medium high heat. Pour or
            scoop the batter onto the griddle, using approximately 1/4 cup for
            each pancake. Cook until pancakes are golden brown on both sides;
            serve hot.<br>
          </p>
        </div>
      </div>
    </div>

    <!-- *************optional****************: 
		
		Carousel that displays recipes in a clickable carousel.


	</body>
	</html>
	
	This was the old card style -->
    <!-- <div class="recipe4">
		<img
		src="../../../assets/banana-pancakes.png"
		width="20%"
		height="20%"
		/>
		<carousel  width="900" id="carousel-container">
			<div cellWidth="250" width="200" class="carousel-cell">
				<img width="200" src="../../../assets/banana-pancakes.png" />
			</div>
			<div width="200" class="carousel-cell">
				<img src="../../../assets/banana-pancakes.png" />
			</div>
			<div width="200" class="carousel-cell">
				<img src="../../../assets/banana-pancakes.png" />
			</div>
			<div width="200" class="carousel-cell">
				<img src="../../../assets/banana-pancakes.png" />
			</div>
			<div width="200" class="carousel-cell">
				<img src="../../../assets/banana-pancakes.png" />
			</div>
		</carousel> -->
    <!-- <div class="footer">Footer</div>
	</div> -->
  </body>
</html>
