<!DOCTYPE html>
<html>
	<head>
		<title>Meals</title>
		<style>
			.gfg_flex {
				display: flex;
				flex-direction: row;
				background-color: #E64F5D;
;
				text-align:center;
			}
			
			.gfg_flex > div {
				background-color: #f4f4f4;
				width: 100px;
				height:100px;
				margin: 10px;
				font-size: 40px;
			}
			h2 {
				text-align:center;
			}
			.primary-text{
				font-size:40px;
				text-align:center;
				color: black;
				font-weight:bold;
			}
		</style>
	</head>
	<body>
		<div class = "primary-text">Meal Recipes</div>
		<h2>flex-direction Property</h2>
		<div class="gfg_flex">
			<div>Box A</div>
			<div>Box B</div>
			<div>Box C</div>
			<div>Box D</div>
			<div>Box E</div>
		</div>
	</body>
</html>									

