<header class="head">
<div id="login">
    <div class="container flex-container">
        <form class="flex">
            <div id="heading">
                <h1>Login</h1>
               
            </div>
            <div>
                <div class="form-container"></div>
                <label for="Username"></label>
                <input class="form-input" name="username" type="text" placeholder="Username"  [(ngModel)]="newUser.username">
            </div>
            <div class="form-container">
                <label for="Password"></label>
                <input class="form-input" name="password"  type="password" placeholder="Password"  [(ngModel)]="newUser.password">
            </div>
            <div class="flex-button">
                <button type="button" class="form-button" (click)="goToRecipes()" >Login</button>
                <button type="button" class="form-button" (click)="goToSignUp()">Sign Up</button>
            </div>



        </form>
    </div>
</div>
</header>