<form [FormGroup]="foodsFormGroup">
  <label for="food">
    <input type="radio" name="Fruits" [checked]="idx === 0" [value]="entry.id"
      (change)="onSelectionChange(entry)">Avocado
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>
  </label><br>
  <label for="food">
    <input type="radio" name="Fruits" [checked]="idx === 0" [value]="entry.id"
      (change)="onSelectionChange(entry)">Lemons
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>


    <label for="food">
      <input type="radio" name="Fruits" [checked]="idx === 0" [value]="entry.id"
        (change)="onSelectionChange(entry)">Bananas
      <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
      <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
          value="{{qty}}"></td>
    </label>
  


      <button (click)="back()">Done</button>

</form>
