<nav>
    <div class="container flex">
        <div class="logo-text">
            
            <img class="logo2" src="../../../assets/logo2.png" height="70" width="130">
            <!-- <h4><span class="text-primary">What The Food</span> </h4>   -->
        
        </div>
        <div class="flex">
            <div class="links">
                <p>
                    <a routerLink="/pantry">Pantry</a> | <a routerLink="/preferences">Preference</a> | <a routerLink="/recipes">Recipes</a> | <a routerLink="/login" >Log Out</a> 
                  
                </p>
            </div>
            
        </div>

    </div>

</nav>
