div{
    color: black;
}

.links{
padding-left: 40px;
font-size: 20px;
}

a{
    padding: 20px;
    align-items: center;
}

.text-primary{
    text-align: center;
    order: 1;
}

.links {
    text-align: center;

}

.logo2{
    justify-content: center;
    align-items: center;
    /* padding-left: px; */
    order: 2;
}

.logo-text
{
    text-align: center;
}