<nav>
  <div class="container flex">
    <div class="logo-text">
      <img
        class="logo2"
        src="../../../assets/logo2.png"
        height="70"
        width="130"
      />
     
    </div>
    <div>
      <div class="links">
        <p>
          <a routerLink="/pantry" style="color: Whitesmoke">Pantry</a> 
          <!-- <a routerLink="/preferences" style="color: Whitesmoke">Preference</a>  -->
          <a routerLink="/recipes" style="color: Whitesmoke">Recipes</a> 
          <a routerLink="/login" style="color: Whitesmoke">Logout</a>
        </p>
      </div>
    </div>
  </div>
</nav>
