<nav>
    <div class="container flex">
        <div class="logo">
            <h1><span class="text-primary">WTF</span> </h1>
        </div>
        <div class="flex">
            <div class="links">
                <ul>
                    <li  routerLinkActive="current" ><a routerLink="pantry">Pantry</a></li>
                    <li  routerLinkActive="current" ><a routerLink="/preferences">Preference</a></li>
                    <li  routerLinkActive="current" ><a routerLink="/recipes">Recipes</a></li>
                    <li  routerLinkActive="current"><a routerLink="/login" >Log Out</a></li>
                </ul>
            </div>
            
        </div>

    </div>

</nav>
