<form [FormGroup]="foodsFormGroup">
  <label for="food">
    <input type="radio" name="Spices" [checked]="idx === 0" [value]="entry.id" (change)="onSelectionChange(entry)">Salt
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>
  </label><br>
  <label for="food">
    <input type="radio" name="Spices" [checked]="idx === 0" [value]="entry.id"
      (change)="onSelectionChange(entry)">Kosher Salt
    <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
        value="{{qty}}">
    </td>

    <label for="food">
      <input type="radio" name="Spices" [checked]="idx === 0" [value]="entry.id"
        (change)="onSelectionChange(entry)">Black Pepper
      <td>{%raw%}{{ entry.ingredient }}{%endraw%}</td>
      <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]"
          value="{{qty}}"></td>
    </label><br>



   
    <button (click)="back()">Done</button>

</form>
