<form action="">
<label for="food" >
    <input type="radio" name="Spices" value="Salt">Salt
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="Spices" value="Kosher Salt">Kosher Salt
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="Spices" value="Black Pepper">Black Pepper
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<button (click)="save()">Done</button> 
<button (click)="back()">Back</button>
</form>
<!-- <label for="food" >
    <input type="radio" name="Spices" value="">
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br> -->
