<h1 class="pantry">Pantry</h1>
<input class="Lookup" type="search" aria-label="search" placeholder="Search">
<!-- To Do: - Create cards with links to appropriate food group component, with label and image.
            - Create button linked to LS or DB submitting all selected options within seperate food group components, add appropriate alerts for user.
            - Make a service to retrieve items saved to LS from Food Group Components and submit to DB to display appropriate recipes on recipes component
            -(Food Group Components)create ul of options with radio buttons for each option within the specific food group (Delete method is unselecting and removing from LS array after clicking DONE?)
            -(Food Group Components)create DONE button to submit items to LS   -->
