.pantry {
  padding: 4px 0px;
  padding-top: 4px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  text-align: center;
  font-weight: 500;
  color: whitesmoke;
}

.Lookup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
  margin-right: 16px;
  margin-bottom: 50px;
  position: relative;
  padding: 5px;
  /* max-width: 50px; */
  margin:auto
}
.column {
  
  width: 50%;
  
  
}


.container{
  padding-top: 30px;
  text-align: center;  
  background: #00D1FF;
  border-radius: 5%;
}

.foodIcon{
  margin-bottom: 10px;
}

button {
  margin-top: 30px;
  border-radius: 10%;
}

/* .cook{
  text-align:;
}
  */


p {
  text-align: center;
  color: whitesmoke
}

/* .Lookup {
 
  
  

  
} */

/* .getCookin{
  text-align: center;
} */
#pantry-wrapper{
  /* border: 1px solid black; */
  width: 90%;
  margin: auto;
}

#pantry-buttons {
  width: 69.30%;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  padding: 10px 0px 10px 0px;
  /* background: darkgrey */
}
#pantry-buttons > button {
  margin-right: 20px;
 
}

@media only screen and (max-width: 900px) {
  #pantry-wrapper{
    /* padding-left: 40px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#pantry-wrapper > div {
  /* border: 1px solid black; */
  width: 100%;
  /* padding-left: 60px; */
}
#pantry-wrapper > .container > .column {
  align-content: center;
  
}

#pantry-wrapper > .column > button {
  width: 80px;
  background-color: wheat;
}

/* #pantry-wrapper > .row:nth-of-type(2) > .column > button {
  background-color: wheat;
}

#pantry-wrapper > .row:nth-of-type(3) > .column > button{
  background-color: wheat;
} */
/* #pantry-wrapper > div > button > img {
  this is what would target the images within this path
} */