<form action="">
<label for="food" >
    <input type="radio" name="Vegetables" value="Avocados">
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="Vegetables" value="">
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="Vegetables" value="">
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<label for="food" >
    <input type="radio" name="Vegetables" value="">
    <td><input type="text" class="input-text" name="product[options][{{id}}][values][{{select_id}}][qty]" value="{{qty}}"></td>
</label><br>
<button (click)="save()">Done</button> 
<button (click)="back()">Back</button>
</form>
